body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    color: #333333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .chat-list {
    height: 300px; /* 슬라이드를 표시할 최대 높이 */
    overflow-y: auto; /* 세로 스크롤 표시 */
  }
  
  .chat-room {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }