body {
    background-color: gray;
    font-family: Arial, sans-serif;
  }

  .player {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .player h2 {
    margin-top: 0;
    color: white;
  }

  .album-cover {
    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }

  .album-cover img {
   color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .song-info {
    margin-top: 20px;
    color: white;
    text-align: center;
  }

  .song-info h3 {
    color: white;
    margin: 0;
  }

  .controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
  }

  .controls button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    margin: 0 10px;
  }

  .controls button:hover {
    color: black;
    outline: none;
  }

  .controls button.play-pause {
    font-size: 24px;
    color: white;
  }

  .controls button.play-pause:hover {
    color: white;
  }

  .controls button.prev,
  .controls button.next {
    font-size: 16px;
    color: white;
  }

  .controls button.prev:hover,
  .controls button.next:hover {
      color: black;
  }